{{#if user.githubID}}
  <div class="col-md-6">
    <div class="card card-body">
      <p>Logged in from github, <small class="text-muted">Github ID: {{user.githubID}}</small></p>
    </div>
  </div>
{{/if}}