<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h1 class="display-4">User details</h1>
      <p class="lead">Username: <strong>{{user.username}}</strong></p>
      <small>Email: <strong>{{user.email}}</strong></small>    
      <div class="mt-3">
        <a href="/user/signout" class="btn btn-block btn-outline-secondary">Logout</a>
      </div>
    </div>    
  </div>
</div>