<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card card-body">
      <p class="lead text-center">Node passport auth boilerplate</p>
      <a href="/user/signin" class="btn btn-primary btn-block">Signin</a>
      <a href="/user/signup" class="btn btn-outline-primary btn-block">create an account</a>
    </div>
  </div>
</div>